<div class="form-ckeckout">
    <h2>Checkout</h2>
    <p> ¡Gracias por tu Compra {{customer}}!</p>
    <p> en breve recibiras un email a {{email }} con la informacion de tu Orden de Compra Nro:{{nTicket}}</p>
    <div class="ckeckout-link">
        <a href="/products">Shopping</a>
        <a href="/api/sessions/profile">My Profile</a>
    </div>
</div>