
<form action="/api/sessions/login" method="POST">
    <h2> Login </h2>
    <label for="email"> Email</label>
    <input type="text" name="email" required>
    <br><br>

    <label for="password"> Password </label>
    <input type="text" name="password" required>
    <br><br>

    <button type="submit"> Login </button>
    <br><br>
    <button type="button"><a href="/api/sessions/github"> Github </a></button>
    <button type="button"><a href="/api/sessions/google"> Google </a></button>
    
    <br><br>
    
</form>

