
<div>
    <h1> Menu </h1>
    <a href="/products"> Shopping </a>
    <a href="/realtimeproducts"> RealTimeproducts </a>
    <a href="/api/carts/{{../user.cart}}"> Carts </a>
</div>

<div class="welcome">
    <h2> Welcome!! {{user.first_name}} </h2>
    <h3> Email: {{user.email}} </h3>
    <h3> Role: {{user.role}} </h3>
</div>

<form class="form-logout" action="/api/sessions/logout" method="POST">
    <button type="submit"> Logout </button>
</form>
